[2019-04-05 16:58] KylePalko opened #2 "CBOR Decodes List Network Value Incorrectly"
The Android demo compiles, finds and connects to the device successfully, but crashes when parsing the CBOR notification payload from the list networks characteristic. No error is thrown on decoding, but the object is returning `{ null: null }` in the decoded CBOR payload. This causes the demo app to crash. I am running on the `beta` branch.

[2019-04-05 19:01] bxpan commented on #2
Hi KylePaiko,

Thanks for using the AmazonFreeRTOS BLE Android SDK. Could you please let us know which commit on beta branch are you using? Could you share the adb log from the phone that includes crash stack trace? How often does this issue occur?

[2019-04-07 19:55] KylePalko commented on #2
Hey @bxpan, thanks for responding. I won't be able to provide the stack trace until later this week, but you should be able to test with the latest commit of the `beta` branch. It decodes the CBOR without failing, but as soon as the application attempts to get a property from the decoded CBOR payload it returns null, which causes an error to be thrown as it's being casted to a type.

The [iOS FREE

[2019-04-08 17:10] bxpan commented on #2
Hi @KylePalko, what do you mean by "get a property" from decoded CBOR payload? Which "type" is it casting to? Did the crash happen in the decode method in "ListNetworkResp" class?

[2019-04-12 13:44] KylePalko commented on #2
Yes it's the [`ListNetworkResp`](https://github.com/aws/amazon-freertos-ble-android-sdk/blob/a8b5024d824455fc158c2eff3d3301a60d4472ae/amazonfreertossdk/src/main/java/com/amazon/aws/amazonfreertossdk/networkconfig/ListNetworkResp.java) class.

This line in particular:

[code]

But it's really any of the `.get` calls because the object in map only contains SSID and Status Key.

[2019-04-17 23:25] bxpan commented on #2
How often does this occur? Do you have the reproduce steps? We would like  to understand why the map only contains SSID and status , but missing other fields.

[2019-04-18 20:35] KylePalko commented on #2
I was able to reproduce this every time on Android. To reproduce it: pull down the `beta` branch code, run it on an Android phone, connect it to a BLE Module running Amazon's FREERTOS BLE firmware. Once it begins scanning for networks it will throw on the line I detailed above.

[2019-04-18 20:40] rrivadeneira-rsc commented on #2
Hi @bxpan,
I'd also like to state that we have narrowed down that the issue is not likely with the module, as the iOS version of this SDK decodes and displays the scan results successfully and is able to go with provisioning.

[2019-04-18 21:22] bxpan commented on #2
From what KylePalko mentioned, the object in the map only contains SSID and Status Key, could you confirm that on iOS, it is also the same case where the data received from the BLE module also only contains SSID and Status key?  I would like to understand whether it is the handling of received data is different on Android than on iOS, or is it that the data itself is missing other fields?

Could y

[2019-04-18 21:43] rrivadeneira-rsc commented on #2
Wouldn't the iOS version crash if it finds any null parameters in the object like the Android version does or display like so? I'm assuming that if the iOS app gets any null parameters then the next step, which is showing the scan results on the app, would fail to display any correct information. So the received data on the iOS side should be showing more than just the SSID and status key.

We'll

[2019-04-18 22:24] KylePalko commented on #2
The iOS app is able to properly decode the CBOR payload from the device and get the SSID, BSSID, index, etc. The Android app fails to do this—this is why I haven't put an issue in on the Amazon FREERTOS iOS BLE SDK repository and originally stated this above:

@bxpan I cannot provide an adb logcat at this time. Please run the app and you will see the issue.

[2019-04-19 17:42] bxpan commented on #2
If the iOS app can decode the payload with all properties, it means that the data received from the device does contain all fields. I'll try to reproduce this issue on Android app to debug why it cannot be decoded correctly on Android app. Could you please let us know the version/branch you used for the BLE module on the device?

[2019-04-20 14:27] rrivadeneira-rsc commented on #2
Sure! We were using a stable version of ble-beta, which I believe is from commit 17ba347f and AFR 1.4.7 (from March 27th)

[2019-04-24 21:42] bxpan commented on #2
Hi KylePalko, do you know what is the MTU between your device and the android phone? Did you set the MTU from the demo app explicitly? One possibility is that the MTU is too small, and the listNetwork response got truncated, which could have caused the decoding to fail.

[2019-04-24 22:08] rrivadeneira-rsc commented on #2
Isn't the MTU set automatically _in_ the demo app? I have tried this without setting anything explicitly and, on the module's, I get the following:
`W (641051) BT_GATT: attribute value too long, to be truncated to 20
W (641051) BT_GATT: attribute value too long, to be truncated to 20
W (641051) BT_GATT: attribute value too long, to be truncated to 20
W (641061) BT_GATT: attribute value too long, t

[2019-04-24 22:20] bxpan commented on #2
Yes, this is due to mtu too small. On iOS, MTU is set automatically by the OS. But on Android, it must be explicitly set. In the version of demo app you were using, the MTU must be set by the demo app. Once the BLE is connected, click on the "more" menu button, click on "set mtu" to set the MTU explicitly. Could you try this out and see if this resolves the issue?

We are making the change to let

[2019-04-24 22:36] rrivadeneira-rsc commented on #2
Ah ok, I see. That makes sense. That resolved the issue for me, I see scan results and I'm able to provision the module. However, I will let @KylePalko confirm this is what he was looking for and if it resolves the issue on his side.

Thank you for your help!

[2019-04-25 14:26] KylePalko commented on #2
Thank-you @bxpan !

[2019-04-25 18:00] bxpan commented on #2
Glad that it resolved the issue.

Thank you for your interest in AmazonFreeRTOS BLE Android SDK. Please feel free to open a new issue if you have other questions.

[2019-04-25 18:00] #2 closed

[2019-05-06 00:33] chegewara opened #3 "set MTU"
In my case IoT thing usually returns 0 from MTU characteristic at first connection. When this happen android app is trying set MTU 0 and menu is not being activated. Could we change code in here to value `DemoConstants.MTU`:
https://github.com/aws/amazon-freertos-ble-android-sdk/blob/a15fc244d3d25e1d54b80f3ec50c180e18a6a68c/amazonfreertossdk/src/main/java/com/amazon/aws/amazonfreertossdk/AmazonFre

[2019-05-07 20:07] bxpan commented on #3
Hi chegewara,

Thanks for your interest in Amazon FreeRTOS BLE Android SDK. Is there a particular reason why the default MTU on your IoT thing must be set to 0 ?  The idea is that the IoT device should have a default MTU value (usually the max mtu it can support), the SDK will query that default mtu automatically upon connection, and calls setMtu.  In this way the logic is fully handled by the SDK

[2019-05-08 01:45] chegewara commented on #3
Hi,
maybe i used wrong expression. With old version, when i had to exchange MTU manually after connection all has been working fine. Now when it is done auto-magically from android studio logs i can see that for some reason this app is setting MTU = 0. I have not set it to 0 in my esp32 (its not possible, because minimum allowed is 23). I am using amazon AWSFreeRTOS ble-beta branch on esp32, which

[2019-05-08 01:49] #3 closed

[2019-05-16 16:12] ljaynes87 opened #4 "MQTT proxy no longer working."
After pulling the latest commit on the beta branch the MQTT proxy will no longer connect to my device. I am using the Nordic NRF52840DK with the Android SDK running on a Samsung Galaxy S10. I have no modifications to the Android SDK except adding my AWS information.

I can connect to BLE but after clicking MQTT it seems to crash back to the BLE connection page of the app. From the log it looks lik

[2019-05-16 20:39] bxpan commented on #4
Hi ljaynes87,

In the latest version of the demo app, clicking on the mqtt menu only does the sign-in, it is no longer needed to turn my mqtt proxy. Hence after it is signed-in, it returns back to the previous activity where you can see the list of scanned devices.

The recent change requires the latest code on the device side as well. Could you check which commit you're using the device code?

[2019-05-17 16:33] ljaynes87 commented on #4
I pulled the latest ble-beta branch from amazon-freertos and the no connected device issue was fixed by updating but i still can't seem to get it to connect to the MQTT proxy. I am not sure if this issue is with the device or the android side now.

I get this error on the device: Failed to establish new MQTT connection, MQTT CONNECT returned error NETWORK ERROR.

I will include the android log. If

[2019-05-17 17:01] bxpan commented on #4
The ble-beta branch is stale now and is not compatible with the latest sdk code. Could you try using release-1.5 branch from the device repo https://github.com/aws/amazon-freertos/commits/release-1.5

[2019-05-17 17:50] ljaynes87 commented on #4
I was not aware it had moved to release. Thank you. Unfortunately that did not solve my MQTT connection problem. I still receive the same error as before.

146 3697 [iot_thread] Failed to create BLE network connection after 10s.
148 3697 [iot_thread] [ERROR][MQTT][36970] Failed to establish new MQTT connection, error NETWORK E149 3697 [iot_thread] [ERROR][DEMO][36970] MQTT CONNECT returned error N

[2019-05-17 18:21] bxpan commented on #4
Did you click on the mqtt proxy menu button after phone was connected to the device ?  You still need to do this step to Signin. Could you provide android side log as well?

[2019-05-17 19:57] ljaynes87 commented on #4
Yes I have been clicking the mqtt proxy button.

Here is the complete info log:

2019-05-17 13:54:44.722 23644-23644/? I/freertosandroi: Late-enabling -Xcheck:jni
2019-05-17 13:54:44.795 23644-23644/com.amazon.aws.freertosandroid I/freertosandroi: The ClassLoaderContext is a special shared library.
2019-05-17 13:54:44.909 23644-23644/com.amazon.aws.freertosandroid W/freertosandroi: JIT profile inf

[2019-05-17 20:37] bxpan commented on #4
The issue is that the sdk cannot find the 2 service uuids on the device side.  These 2 uuids were changed from the ble-beta branch. But if you already moved to release-1.5 branch for the device code, this should not happen. Can you enable debug log, and check in your adb log what is printed for "describeGattServices" call https://github.com/aws/amazon-freertos-ble-android-sdk/blob/beta/amazonfreer

[2019-05-17 21:05] ljaynes87 commented on #4
You were correct about the uuids being wrong. It turns out the application was not doing service discovery again because the devkit was already paired and was using the old services even with the new firmware. Removing the devkit in my Android BLE settings and re-pairing fixed my problem and everything seems to be working as intended now. Thanks for help.

[2019-05-17 21:16] bxpan commented on #4
Glad to help and thank you for your interest in Amazon FreeRTOS. I'm closing this issue now. Please feel free to open a new one if you run into another issue.

[2019-05-17 21:16] #4 closed

[2019-05-31 17:44] rrivadeneira-rsc opened #5 "Older Android versions don't work with BLE Provisioning, Demo & Firmware"
**Describe the bug**
We have tried to use the demo app and the AFR 1.4.7 and 1.5 BLE provisioning demos unsuccessfully with older phones such as Android 6.0 (used by a vast majority of Android users). We are not able to connect to the device via BLE. It seems that we get kicked out of the connection immediately, and we are not able to discover any services. On the device side, we are using an ESP3

[2019-05-31 19:03] bxpan commented on #5
Hi rrivadeneira-rsc,

There's a problem in the bluetooth bonding that caused the connection to be closed. Could you check what is the bluetooth version on your phone? It needs to be 4.2 or higher.

[2019-06-03 15:27] rrivadeneira-rsc commented on #5
The Bluetooth version on the phone we were trying this with was 4.0 - so I see the problem. However, we tried on an iOS device I believe is with Bluetooth 4.0, with the iOS demo app, and we were able to connect without this error at the same level of security (the default "Numeric Comparison"). Is there a reason why Bluetooth versions between iOS and Android work differently? Is there something I'

[2019-06-04 17:48] rrivadeneira-rsc commented on #5
Yes, I saw a numeric comparison number come up on iOS, and if I hit "pair" the device will pair successfully.

[2019-06-04 18:20] bxpan commented on #5
What is the value you set for below when you were paring with iOS?

#define IOT_BLE_ENABLE_NUMERIC_COMPARISON
#define IOT_BLE_ENABLE_SECURE_CONNECTION
#define IOT_BLE_INPUT_OUTPUT

We recommend using Bluetooth 4.2 because it provides enhanced security. With 4.0, the "Just works" pairing without numeric comparison works, but does not provide full secure connection, eg, man-in-the-middle attach coul

[2019-06-04 18:28] rrivadeneira-rsc commented on #5
The values I set are the ones below:
[code]
So there is no way to make a secure connection with devices below Bluetooth 4.2? I thought "Passkey Entry/Display" pairing could be used for "legacy" bluetooth devices on this case.

[2019-06-04 21:29] bxpan commented on #5
#define IOT_BLE_ENABLE_SECURE_CONNECTION         ( 1 )
#define IOT_BLE_INPUT_OUTPUT (eBTIODisplayYesNo)

These are the correct value to set to establish a secure connection. It requires minimum bluetooth 4.2 to work on Android.

Which iOS device are you using?

[2019-06-15 18:23] chegewara opened #6 "[question] app changes"
Hi,
i have one question about changes in app. In older version we were able to provide wifi credentials without login with cognito and i liked it, because i am using this app for developing purpose. Now i have to create cognito account just to provide wifi credentials even if i dont want to use mqtt over ble. Is that necessary?

Also i cant use old version because in afr release-1.5 all UUIDs got

[2019-06-15 22:32] bxpan commented on #6
Hi chegewara,

You may set this "mqtt" boolean to false to turn off the login screen, and you should be able to do wifi credentials just like before.

https://github.com/aws/amazon-freertos-ble-android-sdk/blob/beta/app/src/main/java/software/amazon/freertos/demo/DeviceScanFragment.java#L41

Yes, the UUIDs has been changed in release-1.5, so it is recommended to use the newer version.

[2019-06-15 23:32] chegewara commented on #6
Thanks.

[2019-06-15 23:32] #6 closed

[2019-10-11 14:46] Qspace opened #7 "User guide document and code miss match?"
**Describe the bug**
I followed the instruction here to run demo app but cannot find some macro on source code
COGNITO_POOL_ID, COGNITO_REGION .. The com folder was removed too?
https://docs.aws.amazon.com/freertos/latest/userguide/ble-demo.html#ble-sdk-app

https://prnt.sc/phzjx3

[2019-10-11 17:20] bxpan commented on #7
The document seems to be out of date.

The cognito pool id and regions should be configured in this file:
https://github.com/aws/amazon-freertos-ble-android-sdk/blob/master/app/src/main/res/raw/awsconfiguration.json

The src code has been moved from com/amazon/aws to software/amazon/freertos
https://github.com/aws/amazon-freertos-ble-android-sdk/tree/master/app/src/main/java/software/amazon/freert

[2019-10-12 01:29] Qspace commented on #7
What about BLE_DEVICE_MAC_ADDR, BLE_DEVICE_NAME, MTU at sdk/app/src/main/java/com/amazon/aws/freertosandroid/MainActivity.java.
I cannot find MainActivity.java?

And we don't need to configure TEMPORARY_IOT_ENDPOINT as mention here?
https://aws.amazon.com/blogs/iot/using-bluetooth-low-energy-with-amazon-freertos-on-espressif-esp32/

[2019-10-12 04:07] bxpan commented on #7
There’s no mainactivity.java anymore and you don’t need to configure BLE_DEVICE_MAC_ADDR, BLE_DEVICE_NAME, MTU. After you click the scan button , it will scan for nearby devices and list them on the screen. The MAC address and device name will be shown for each device .

Also, no need to set temporary iot endpoint from the app. The endpoint should be set in the device code and will be passed to th

[2019-10-12 09:03] Qspace commented on #7
I followed the instruction which you requested but still cannot run the demo app sucessfully.

I used **feature/ble-beta** of amazone-freertos on **esp32** kit, change to **just-work** pairing method because I use **Bluetooth version 4.1**
![Screenshot_5](https://user-images.githubusercontent.com/13863220/66698630-bcd3da80-ed09-11e9-8a64-6099b024aaf3.png)

[2019-10-12 14:43] Qspace commented on #5
With BT 4.2, the pairing process was successfully but i still got a problem network connection.
![Screenshot_6](https://user-images.githubusercontent.com/13863220/66703112-4e0e7580-ed39-11e9-8a11-b6ff916997b9.png)

[2019-10-13 15:19] Qspace commented on #7
I switched to relesea-1.5 branch of amazon-freertos and still got an issue
![Screenshot_7](https://user-images.githubusercontent.com/13863220/66717818-82506780-ee07-11e9-96fe-cc484d51c5dc.png)

[2019-10-13 15:47] Qspace commented on #7
I tried with Android phone BT4.2 version and it has same issue.
![Screenshot_8](https://user-images.githubusercontent.com/13863220/66718205-75ce0e00-ee0b-11e9-9e6c-a318aa8d31a0.png)

[2019-10-15 22:16] qiutongs commented on #7
For the document mismatch, we are actively fixing it.

For the run-time problem, both the  "feature/ble-beta" and "release-1.5" branches are not supported any more. Please switch to our "master" branch and retry it.

[2019-10-16 05:21] Qspace commented on #7
I still got problem with network connection on the master branch
![Screenshot_9](https://user-images.githubusercontent.com/13863220/66890193-6fa87f00-f00f-11e9-8b31-93f01f7cb33e.png)

[2019-10-16 18:11] qiutongs commented on #7
Ok. Thank you for retrying with master branch. We are looking into it.

[2019-10-16 19:03] qiutongs commented on #7
I replied in another issue you created.
https://github.com/aws/amazon-freertos/issues/1414

[2019-10-18 19:30] bxpan commented on #7
Hi Qspace, it seems there's error when establishing MQTT connection to AWS IoT. It might be due to an incorrect IoT policy. From you screenshot of log, the part to establish the connection was truncated. Is it possible for you to share the full android adb log and device log from esp for your testing? Also, if you could attach your iot policy, that might help to confirm that the policy is correct.

[2019-12-19 07:26] ravirupareliya opened #9 "onClientConnectionState() - status=133 clientIf=7"
Facing this error while connecting to ble in some android devices. Majorly it is in motorola, samsung and redmi. Specifically for OS 7.0 and 7.1.1

Other OS and device it is working perfect.

When I am trying to connect, it immediately calls `onClientConnectionStatus` with gatt error 133.

Any solution for this?

`
D/BluetoothGatt: onClientConnectionState() - status=133 clientIf=7 device={deviceId

[2019-12-19 17:32] bxpan commented on #9
The status error 133 means that the bluetooth connection is closed from the remote device it is trying to connect.

What is the bluetooth version on the phones that have issue? Are they different than those phones that worked?

Could you provide the full log from your phone as well as the full log from the device it is trying to connect to,  from the beginning of your app launched till the issue h

[2019-12-20 06:13] ravirupareliya commented on #9
Bluetooth version of device is 4.2, It is moto e4.
I cannot find logs from device as I am not aware of it.
About phone log this is what I am getting, it is trying to connect few times but then suddenly it gives 133 error.

Sometime it takes time to show 133 error and sometime it immediately throw 133 error

[2019-12-20 22:37] bxpan commented on #9
Are you using the demo app or your own app?

Do you see any of these logs?
D/BluetoothGatt: connect() - device: 30:AE:A4:4A:FE:4A, auto: true
D/BluetoothGatt: onClientRegistered() - status=0 clientIf=8
D/BluetoothGatt: onClientConnectionState() - status=0 clientIf=8 device=30:AE:A4:4A:FE:4A
I/FRD: Connected to GATT server.
I/FRD: Discovered Ble gatt services successfully. Bonding state: 12

[2019-12-23 04:14] ravirupareliya commented on #9
Yes, it is there, even sometimes it gets connected also.
But those are rare cases, I mean it gets connected to device only once or twice out of 10 times.

[2019-12-23 20:13] ravibhagavandas commented on #9
@ravirupareliya
1. Which micro-controller device are you using on other end of the connection ? Could you also mention the Amazon FreeRTOS version running on the micro-controller device ?

2. By default the demo app and Amazon FreeRTOS is configured to run on highest security mode ( secure connection only with MITM protection). This means there is a pairing procedure with numeric comparison immedi

[2020-02-20 11:14] pisukeman commented on #5
Hi!
We're not able to make the Just Works Pairing works.
Using the configuration:

#define IOT_BLE_ENABLE_NUMERIC_COMPARISON ( 0 )
#define IOT_BLE_ENABLE_SECURE_CONNECTION ( 0 )
#define IOT_BLE_INPUT_OUTPUT ( eBTIONone )

The app is not able to pair with the ESP32. The connectionStatus never gets BLE_CONNECTED value.

On the other hand if I try with other configurations, everything works fine. For

[2020-02-21 20:02] xuaninbox commented on #5
https://github.com/aws/amazon-freertos-ble-ios-sdk/issues/9#issuecomment-588579324

Seems to be related to the ESP stack

[2020-03-23 02:50] dangviethieu commented on #4
Hello sir. I'm try connect ESP32 to Android App use BLE and from Android App send MQTT message from ESP32 to AWS. I got error:
`There's no such service found with uuid: a9d7166a-d72e-40a9-a002-48044cc30100`
`There's no such service found with uuid: a9d7166a-d72e-40a9-a002-48044cc30000`
How can I fix it without release-1.5 branch? @bxpan

[2020-03-23 03:30] bxpan commented on #4
@dangviethieu
The error message indicates that the version on the esp32 is not compatible with the version on the android app. Could you please confirm which version you're using for the android app, and which version (branch and commit) you are using for esp32?

[2020-03-23 03:36] dangviethieu commented on #4
@bxpan Yes, Thanks sir
I use the last code in ble-beta branch of amazon-freertos, and the last code in master branch of amazon-freertos-ble-android-sdk.
I follow the article in here: https://aws.amazon.com/vi/blogs/iot/using-bluetooth-low-energy-with-amazon-freertos-on-espressif-esp32

[2020-03-23 03:45] bxpan commented on #4
The article is out of date. Please try using the master branch of amazon-freertos.

[2020-03-23 07:15] dangviethieu commented on #4
@bxpan Yes, I could connect ESP32 with Android App. Thank sir very much !!!

[2020-03-24 14:53] roberthartman opened #13 "Recommended way to disconnect during pairing/bonding"
**Describe the bug**
Exception occurs in AmazonFreeRTOSDevice disconnect() `mContext.unregisterReceiver(mBondStateBroadcastReceiver);` when using AmazonFreeRTOSManager disconnectFromDevice() while waiting for a connection. The line `mBluetoothGatt.close()` never gets closed due to the exception, but it's not clear whether the close() call would adequately clean things up.

**Build info**
What is t

[2020-03-25 04:32] bxpan commented on #13
Hi roberthartman,

Thank you for reporting the issue. The exception is due to unregistering mBondStateBroadcastReceiver before it is registered, since the disconnectFromDevice was called before the device was actually connected. When you call connectToDevice, you are passing a  BleConnectionStatusCallback.  I would suggest waiting for the callback and check the connection status to be "connected"

[2020-03-25 11:33] roberthartman commented on #13
@bxpan thanks for the response. I am seeing the BLE connection process sometimes take 10s of seconds, so waiting for the connection to go through before disconnecting would involve either a bad user experience or me jumping through hoops in the mobile app code. It's not clear why connecting takes so long, but that problem could go away when I eventually start working with the production HW instead

[2020-03-26 03:58] bxpan commented on #13
@roberthartman Thanks for the details. In the disconnect function, it is actually calling close(). The problem is that, unregisterReceiver happened before it was able to call close. That is why it failed to cancel the pending connection. If we move close() ahead and catch the exception thrown by unregisterReceiver in the disconnect call itself, it should solve the issue. We'll make a fix in the ne

[2020-03-26 12:15] roberthartman commented on #13
@bxpan that's what I was thinking. If I get some time I'll give it a run.

[2020-03-27 23:20] #13 closed

[2020-04-06 18:24] jays95jp opened #15 "Issue with version 0.9.3 for Samsung S10e."
I am trying to connect esp32 using my Samsung S10e device with _freetos ble android sdk_ **version 0.9.3**

_**Esp32 firmware details is:**_
 AFR V1.4.7 released on 02/18/2019

I am able successfully connect/pair ble,  After that I fire list command successfully get wifi list as well.
but when i try to fire save command to esp32 it's not successfully execute command and network is not save in devi

[2020-04-06 19:07] bxpan commented on #15
@jays95jp
What was the error message you saw on the sdk? Could you attach the adb log from your Samsung device?

0.9.3 is our pre-release version, and a few things have changed since then. Could you try using our latest sdk release  version 1.1.0?

[2020-04-06 19:35] jays95jp commented on #15
@bxpan
Here i am attaching entire log file, Please refer for reference

04-07 03:22:44.518  8327  8327 I MultiWindowDecorSupport: updateCaptionType >> DecorView@bc3bd47[], isFloating: false, isApplication: true, hasWindowDecorCaption: false, hasWindowControllerCallback: true
04-07 03:22:44.519  8327  8327 D MultiWindowDecorSupport: setCaptionType = 0, DecorView = DecorView@bc3bd47[]
04-07 03:22:44

[2020-04-06 19:38] jays95jp commented on #15
@bxpan
Here is log from esp32

I (83483) [Network]: BLE connected
20 8317 [Btc_task] [INFO ][DEMO][8317] Connected to the BLE device
21 8317 [Btc_task] [INFO ][DEMO][8317] BLE Connected to remote device, connId = 0
E (84903) BT_GATT: GATT_INSUF_ENCRYPTION
W (85403) BT_SMP: FOR LE SC LTK IS USED INSTEAD OF STK
22 8526 [main] HEAP Space left: 90536
23 8748 [Btc_task] WARN: Max Networks (20) exceeds

[2020-04-06 19:53] jigs611989 commented on #15
@bxpan I am facing the same issue. We have implemented this SDK with the React Native app.  We face the same issue as mentioned in Android s10. It did work fine in iOS and other android devices. We also try new firmware and its also not working.

It will be a great help as our app is in production ready mode.

[2020-04-07 04:33] bxpan commented on #15
@jays95jp

Everything on the mobile side looks fine until it sent the save network command. After that it did not receive any response from the deivce, and BLE connection was disconnected. @ravibhagavandas  could you check further from esp device side why no save network response was sent back?

More details:

From you adb log, after the save network command was sent from sdk to esp32, the sdk did

[2020-04-07 04:35] bxpan commented on #15
@jigs611989 Could you be more specific on what same issue you're seeing on s10? Which version of new firmware you have tried, and which version of sdk release did you use? Also, if you could include logs, it will be helpful to debug the issue.

[2020-04-07 20:50] jigs611989 commented on #15
@bxpan

**Summary**

Android Device s10e running on Android 10
Android SDK 1.1.0 Demo app
esp32 based device with AFR version 202002.00 Feb 19

- Able to connect with BLE device
- Able to see Wi-Fi list
- Not able to save ssid/password

 **Please check the attached log file** [here](https://drive.google.com/file/d/10Hoj3UWuMxmoTJYbM5Jc8jXqSOuI9aTh/view?usp=sharing)

04-08 03:28:41.801 26893 26893

[2020-04-08 01:20] saracmelo commented on #15
@bxpan @ravibhagavandas

We are collaborating with @jays95jp.

We have determined 2 root causes of the issues and are hoping we can find a workaround as we have devices live in the field and customers we need to support.

**Issues:**
1.  **Mobile device-specific issue:** Any attempt to write data to any characteristic with a MTU setting other than 23 will cause the connection to fail.
2. **ESP32 i

[2020-04-08 01:52] ravibhagavandas commented on #15
@jays95jp

Could you specify the exact commit ID of the Amazon FreeRTOS version you are using? I couldn't find BLE code from the head of release v1.4.7 commit tag you are referring to:
https://github.com/aws/amazon-freertos/tree/4d52fdb0e85c14d88c895ae6c144668ced8409af

[2020-04-08 07:19] saracmelo commented on #15
@ravibhagavandas

BLE Code:

[bluetooth_low_energy.zip](https://github.com/aws/amazon-freertos-ble-android-sdk/files/4448843/bluetooth_low_energy.zip)

[2020-04-08 14:32] jigs611989 commented on #15
@ravibhagavandas
You can refer zip code file which share by @saracmelo .

 Me, @saracmelo @jigs611989  all are working on single product :).

[2020-04-08 14:35] jays95jp commented on #15
@ravibhagavandas
You can refer zip code which share by @saracmelo
me and @saracmelo   is in one team :)

[2020-04-08 18:41] ravibhagavandas commented on #15
@jays95jp  @saracmelo
The code posted above does not contain large object transfer support for WiFi provisioning GATT service. This is required to transfer any payload which is larger than the MTU size set for the connection.

WiFi provisioning  with Large Object transfer support is available along with BLE library released in FreeRTOS version **201906.00 Major**  on **06/17/2019**

[2020-04-08 20:40] saracmelo commented on #15
@ravibhagavandas

We are not trying to send a payload bigger than the MTU size. The WIFI provisioning fits well within the 512 MTU limit of the ESP32.

This issue is we can't send any payload above 20 characters without a disconnect happening regardless of any MTU setting above 23.

To our knowledge, this is only an issue with S10e. Other Android and iPhone devices do not have this issue.

Why we

[2020-04-08 21:53] saracmelo commented on #15
New learning today: Any MTU setting between 24 & 512 results in only allowing for a payload of 20 characters. You can set the MTU to 24 and send 20 characters all day. You can set the MTU to 512 and send 20 characters all day…but if you try 21 characters in either example the phone will “NOT” send the payload, but it think it does send it…then the timeout happens and the connection is closed.

[2020-04-09 01:34] ravibhagavandas commented on #15
Thanks  for your findings.

I am able to reproduce the issue with **ESP32 bluedroid stack** and **Samsung Galaxy S10 device**. I am not able to reproduce the same issue with ESP32 Nimble stack which is the default ESP32 BLE stack in recent FreeRTOS releases. Also I cant reproduce the issue with other Android device or IOS device.

I found related threads in Samsung and ESP forums:
https://forum.de

[2020-04-09 21:58] saracmelo commented on #15
We have already changed the BLE stack over for new devices., but we are still hoping to be able to support existing clients where we can _not_ change the BLE stack.

**Do you think this is a ble stack or Samsung issue?** I think there's an assumption that this is a Samsung issue because it doesn't happen on other devices, but I'd like to understand where the issue is so we can help advocate for a

[2020-04-19 18:31] laszlopataki commented on #4
Hi, I assume I have a similar issue, but seems like the lastest commits don't want to work to me.
I was following these instructions, but a lot more I have tried.
[https://docs.aws.amazon.com/freertos/latest/userguide/ble-demo.html#ble-demo-wifi](https://docs.aws.amazon.com/freertos/latest/userguide/ble-demo.html#ble-demo-wifi)
Could you please take a look at the logs?

amazon-freertos/master: ec9

[2020-04-20 04:37] Aditya-Jadoun opened #17 "Getting issue with release v1.1.0"
I am trying to build the release v1.1.0 , amazonfreertossdk project code but getting some gradle issue and when i tried to build the app project, code getting build successfully but when i run the application in the android phone, i am getting some issue. After running the mobile application, blank screen appeared and after that app got crashed.

My objective is to test the OTA Demo application wi

[2020-04-20 08:51] Aditya-Jadoun commented on #17
I am able to run the amazonfreertossdk project with some online help. But when i am running this code i am getting some issue.

I am attaching the logs of the amazonfreertossdk project.
[FreeRTOS_Demo_V1.1.0_log.txt](https://github.com/aws/amazon-freertos-ble-android-sdk/files/4502242/FreeRTOS_Demo_V1.1.0_log.txt).

[2020-04-20 16:21] ravibhagavandas commented on #17
Error log:

    java.lang.RuntimeException: Failed to initialize Cognito Identity; please check your awsconfiguration.json
        at com.amazonaws.mobile.client.AWSMobileClient$2.run(AWSMobileClient.java:535)
        at com.amazonaws.mobile.client.internal.InternalCallback$1.run(InternalCallback.java:101)
        at java.lang.Thread.run(Thread.java:818)
     Caused by: java.lang.IllegalArgumentEx

[2020-04-21 17:20] ravibhagavandas commented on #17
@Aditya-Jadoun
Usually we don't provide a precompiled apk as each of the users APK will be built according to the cognito credentials configured for their AWS account.

Do you have cognito setup in your AWS account ? If so you can use the same credentials to build the demo app of your own.

[2020-04-28 08:56] Aditya-Jadoun commented on #17
@ravibhagavandas , I have setup the aws cognito credential in the app and build the app.

I am able to run the application and see the BLE scanning page. When I tab the scan button the app, I am not able to see any BLE devices near me. I have checked with other mobile BLE application also like nRF connect. In the nRF connect app, I am able to scan ble devices near me. Is there any type of data fil

[2020-05-04 20:43] ravibhagavandas commented on #15
@saracmelo

We are working with Espressif partner team on merging the fixes into esp idf in FreeRTOS master branch.  We will update you once its merged.

Meanwhile if you are using [release/v3.3](https://github.com/espressif/esp-idf/tree/release/v3.3) you can get the fixes from commit ID `a4144318` along with commit ID  `ab175f88`.

[2020-05-04 20:59] ravibhagavandas commented on #17
Yes, by default the demo filters out all the devices which are not advertising with FreeRTOS service uuid `8a7f1168-48af-4efb-83b5-e679f932ff00`. Do you have the nrf52840 device in advertising mode ?

[2020-05-19 12:14] Aditya-Jadoun commented on #17
Hi @ravibhagavandas ,

YES,  nrf52840 device is in advertising mode and working fine.
Now, I am able to scan nRF52840 DK and make the connection over BLE. But after making BLE connection, I am getting some exceptions regarding MQTT connection.

Attaching logs for reference.
[android_log_mqtt_error.txt](https://github.com/aws/amazon-freertos-ble-android-sdk/files/4650264/android_log_mqtt_error.txt)

[2020-05-19 15:02] ravibhagavandas commented on #17
From the error log, it seems the broker endpoint to which it is trying to connect is empty. Did you make sure to configure the IOT endpoint and thing name on the FreeRTOS Nordic project as mentioned in this [documentation](https://docs.aws.amazon.com/freertos/latest/userguide/getting_started_nordic.html#nordic-download-and-configure) ?

[2020-06-19 00:49] Serobegi opened #19 "How to use keyStore?"
[code]

i don't know Keystore, help me.. plz

[2020-06-19 00:54] Serobegi commented on #19
`2020-06-19 09:52:33.667 32636-32636/com.example.divide_scan_adver D/ViewRootImpl@d4b011d[FreeRTOS]: ViewPostIme pointer 0
2020-06-19 09:52:33.768 32636-32636/com.example.divide_scan_adver D/ViewRootImpl@d4b011d[FreeRTOS]: ViewPostIme pointer 1
2020-06-19 09:52:33.772 32636-32636/com.example.divide_scan_adver D/BluetoothAdapter: STATE_ON
2020-06-19 09:52:33.774 32636-32636/com.example.divide_scan_

[2020-06-20 00:48] ravibhagavandas commented on #19
@Serobegi

What are you using the keystore for ?  Keystore option provided in the demo app is used for storing the certificate and private key used for connecting to AWS IoT MQTT broker.  Is that your intended usage ?

If so you can look into [AWSIoTKeyStoreHelper ](https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/mobileconnectors/iot/AWSIotKeystoreHelper.html) class on h

[2020-06-21 23:57] Serobegi commented on #19
Hello!

I don't need MQTT function, I am making an app that can make BLE connection with the board and send and receive WIFI information only.

Can you tell me how to use WSIoTKeyStoreHelper class?

And thank you so much for replying.

[2020-06-22 19:47] ravibhagavandas commented on #19
`AWSCredentialsProvider awsCredentialsProvider = AWSMobileClient.getInstance();` This uses Cognito based authentication (which is the recommended way for user authentication on mobile app) instead of keystore.

You can find a sample of how to create kes and load them from keystore using AwsIoTkeystoreHelper class here: https://github.com/awslabs/aws-sdk-android-samples/blob/main/AndroidPubSub/src/

[2020-06-25 07:06] tobaro-4 opened #20 "BLE connection is not possible with nrf52840 Device"
Hello.

I am trying to do MQTT communication with AWS with nRF52840 Device.
https://docs.aws.amazon.com/freertos/latest/userguide/getting_started_nordic.html
I am doing this while looking at the guide of this link.
However, it seems that the Android SDK Demo App and BLE are not connected.

Debug Log on Android SDK App is as follows. :
[code]

I think BLE connect is disconnected due to Timeout beca

[2020-06-25 19:23] ravibhagavandas commented on #20
@tobaro-4
I think this is a duplicate of the issue: https://github.com/aws/amazon-freertos/issues/2182

I have commented on the issue, pasting here for reference:

[code]

[2020-06-26 00:53] tobaro-4 commented on #20
@ravibhagavandas
Thanks for your kind answer.

What I want to know is that BLE connection is possible only by receiving'Y' MSG. I don't understand. If this is not a problem, I would like to know why the BLE connection is not working.

[2020-06-26 16:29] ravibhagavandas commented on #20
@tobaro-4  I have replied to the post https://github.com/aws/amazon-freertos/issues/2182. Since this is same issue can we close one of them and link to the other issue.

[2020-06-29 01:09] #20 closed

[2020-06-29 07:12] codingspirit opened #23 "Can't build with master branch 040dc15"
**Describe the bug**
In newest commit 040dc15061def61495128dc7bf30d6903bcafe5c on master branch:

https://github.com/aws/amazon-freertos-ble-android-sdk/blob/040dc15061def61495128dc7bf30d6903bcafe5c/app/src/main/java/software/amazon/freertos/demo/DeviceScanFragment.java#L134

`BLE_INITIALIZED` is not part of `AmazonFreeRTOSConstants.BleConnectionState` in release 1.1.0/1.0.0.

Do we have any plan

[2020-06-30 22:17] ravibhagavandas commented on #23
Hi,
We are working on a new release for the SDK. Meantime could you choose to pull demo from the commit version for the release 1.1.0 which is `6cd9f86a21d32b40345baef224acd9dc0ac4d276`. You can also use option 2 as mentioned in the README to pull the latest master branch commit of SDK.

[2020-07-01 06:01] codingspirit commented on #23
Hi,

Thanks, We understand that check out to specific commit do help for passing the build but it's a little bit tricky workaround for users who are following [BLE DEMO DOC](https://docs.aws.amazon.com/freertos/latest/userguide/ble-demo.html).

So shall I close this issue? Or close it after 1.2.0 is released?

[2020-07-01 19:48] ravibhagavandas commented on #23
@codingspirit

You can keep this post open for reference until the new release is out.

[2020-07-08 19:05] ravibhagavandas commented on #23
I have released a new version of SDK 1.2.0 and updated the demo app to use the new SDK as the dependency.

[2020-07-09 01:17] #23 closed

[2020-07-15 07:30] purvagevaria opened #25 "Unable to access gatt characterstice"
I want to add callback or indication of service discovery and all. Right now there is no way in sdk in which I can trigger now discover service this services are discovered perform this operation write or notify custom characteristics.
How to enable those ?

[2020-07-16 09:18] purvagevaria opened #26 "Unable to customise gatt characteristics operation"
Hi ,
I am developing an application and using this freetos sdk for it. I want to apply some security features before sending the data over cloud. And for that I need to apply some customized code before sending the data .
But for that I need some call back on app side about characteristics scan or read or modify in app side.  So how to perfrom any code in gatt profile ?

[2020-07-17 01:47] ravibhagavandas commented on #26
@purvagevaria

For a demo on creating a custom GATT service and sending data over to cloud, you can take a look at the GATT server demo: https://docs.aws.amazon.com/freertos/latest/userguide/ble-demo.html#ble-demo-server
But please note that currently the GATT client part of the demo is only supported on IOS SDK. For android SDK you can closely look into how the MQTT proxy GATT service is implemen

[2020-07-17 01:54] ravibhagavandas commented on #25
Hi,

Right now those callbacks are not exposed to the demo directly from the SDK, but you can always browse through code starting from here to see how callbacks are invoked at different stages:
https://github.com/aws/amazon-freertos-ble-android-sdk/blob/master/amazonfreertossdk/src/main/java/software/amazon/freertos/amazonfreertossdk/AmazonFreeRTOSDevice.java#L444

[2020-07-17 04:12] purvagevaria commented on #25
Yes I checked that but using this app is there any way to get those call backs ?

[2020-07-17 04:14] purvagevaria commented on #26
I want to get call backs and modification on gatt services but unfortunately I am not able to receive any call backs on app side about gatt characteristics change or received.

[2020-07-20 15:03] ravibhagavandas commented on #26
Hi,

The callbacks for GATT characteristic read/write is implemented within [BluetoothGattCallback ](https://github.com/aws/amazon-freertos-ble-android-sdk/blob/master/amazonfreertossdk/src/main/java/software/amazon/freertos/amazonfreertossdk/AmazonFreeRTOSDevice.java#L441) object. For adding custom gatt service and characteristics you can add the service and characteristic uuid constants in this

[2020-07-20 20:04] ravibhagavandas commented on #25
This replied to in the other post #26

[2020-07-21 08:46] GKNSTM opened #27 "location services must be enabled"
**Describe the bug**
I suggest to indicate clearly in the documentation that location services must be enabled on Android device. Or test it in the app and display a warning when it is not enabled.
If the user didn't enable location services on its Android device, the device will not appear when clicking on "Scan for BLE devices" in the Android application. For the user it is not obvious that the

[2020-07-23 02:14] ravibhagavandas commented on #27
Hi,
Thanks for bringing this into attention. As per the Android documentation on [start_scan api](https://developer.android.com/reference/android/bluetooth/le/BluetoothLeScanner#startScan(android.bluetooth.le.ScanCallback)), the only requirement is to provide `ACCESS_COARSE_LOCATION or ACCESS_FINE_LOCATION`  permissions in the manifest file. Permission is by default provided in app's [AndroidManif

[2020-07-23 12:02] GKNSTM commented on #27
Hi,
Yes, mentioning this in README would be fine.
Guillaume

[2020-07-29 17:10] ravibhagavandas commented on #27
Changes are added in the commit https://github.com/aws/amazon-freertos-ble-android-sdk/commit/e5a23e57f222b8f9a0d7971fc31d63754581d2a0.
Closing this issue. Please open an issue if you have any further questions.

[2020-07-29 17:10] #27 closed

[2020-08-02 04:31] Darsh-Dev commented on #19
hi @ravibhagavandas ,

I can't open this link (page not found).

I would like to use the keystore instead of congnito based solution. Can you please share the steps/document?

[2020-08-03 06:40] #25 closed

[2020-08-03 06:40] purvagevaria commented on #25
My issue got resovled after using sdk as module

[2020-08-03 06:40] #26 closed

[2020-08-03 06:41] purvagevaria commented on #26
Imported sdk as a module and now I can edit code and customise chars

[2020-08-03 06:43] purvagevaria opened #29 "I want to use keystore insted of congnito login"
I checked the link
https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/mobileconnectors/iot/AWSIotKeystoreHelper.html
About key store but there is no any code example how to use keystore .
I checked in another thread some one provided the links but that links are not working ,

[2020-08-05 01:23] dan4thewin commented on #29
Hi, @purvagevaria .  I've asked one of my coworkers who's familiar with this to answer.  Please expect his response soon.

[2020-08-05 05:04] purvagevaria commented on #29
Thanks @dan4thewin  .

[2020-08-05 16:28] ravibhagavandas commented on #29
@purvagevaria
For security concerns we now recommend to always use Cognito instead of creating certificates/private key for mobile apps. All of our current examples recommend using Cognito as the means to authenticate a websocket connection to AWS IoT. You can get more details on Cognito authentication from the [demo](https://github.com/aws/amazon-freertos-ble-android-sdk/blob/master/app/src/main/

[2020-08-05 16:28] ravibhagavandas commented on #19
For security concerns we now recommend to always use Cognito instead of creating certificates/private key for mobile apps. All of our current examples recommend using Cognito as the means to authenticate a websocket connection to AWS IoT. You can get more details on Cognito authentication from the [demo](https://github.com/aws/amazon-freertos-ble-android-sdk/blob/master/app/src/main/java/software/

[2020-08-05 16:51] Darsh-Dev commented on #19
@ravibhagavandas
I would like to check the Device Certificate blacklist, whitelist, revoke, OCSP stapling feature of BLE end node device. Can we achieve similar feature using Cognito based solution?

[2020-08-05 17:17] ravibhagavandas commented on #19
Could you elaborate more on your use case? By BLE end node device does it mean an end micro-controller device here owns the certificate? If so I am not sure how a certificate on mobile app  can helps this. Cognito uses the user name and password based authentication to create short lived tokens (more details [here](https://docs.aws.amazon.com/cognito/latest/developerguide/what-is-amazon-cognito.ht

[2020-08-05 17:26] Darsh-Dev commented on #19
We have used the Optiga TrustM HSM on BLE based end device. We have added Mutual authentication and data encrypt/decrypt functionality and its working. Now, we would like to share the device certification with AWS cloud and needs to validate Device Certificate blacklist, whitelist, revoke, OCSP stapling features.

I want to understand, how Cognito is more secured then certification based model? Ho

[2020-08-13 13:58] pentair-mywater-residentail opened #30 "BLE Disconnect while doing wifi Provisioning with Samsung galaxy S10 Mobile having Android 10"
**Issue Description**
While Doing wifi provisioning, Ble pairing working properly, List Network is working properly, while calling Save Network with router details, it disconnect from BLE every time, we have tried on multiple s10 devices and seen the same behaviour.

**Mobile App LogCat**:
2020-08-10 13:34:57.658 20599-20693/AppID D/AmazonFreeRTOSDevice: Processing BLE command: WRITE_CHARACTERISTI

[2020-08-13 20:56] ravibhagavandas commented on #30
Hello,

Thanks for bringing this into our attention. Could you provide following details to debug the issue further:

1. release version/commit ID  of Android SDK
2. release version/commit ID of FreeRTOS
3. board on which the firmware is running
4. If its an ESP32 board, the BLE stack being used (Nimble/Bluedroid).
5. Could you also post the full logs of Android SDK from the start and if possible

[2020-08-17 17:32] pentair-mywater-residentail commented on #30
Hi,

Please find all the details below:

1. release version/commit ID of Android SDK - **Version 1.0**
2. release version/commit ID of FreeRTOS - **AFR v1.4.7**
3. board on which the firmware is running - **ESP32**
4. If its an ESP32 board, the BLE stack being used (Nimble/Bluedroid). - **Bluedroid**
5. Could you also post the full logs of Android SDK from the start and if possible device side log

[2020-08-18 01:02] ravibhagavandas commented on #30
Hi,

There was a known issue with the older version of bluedroid that,  MTU negotiation between bluedroid stack and Samsung Galaxy S10 device does not occur correctly.

You can read related issue posted on ESP forum here: https://github.com/espressif/esp-idf/issues/4689

We were able to reproduce the same with Bluedroid stack and our Android SDK in this issue: https://github.com/aws/amazon-freerto

[2020-08-18 11:27] pentair-mywater-residentail commented on #30
Thanks @ravibhagavandas , we will try this solution and let you know in case we face any issue.

[2020-08-18 12:37] alpesh-einfochips opened #31 "Not able to Update awsconfiguration.json"
I want to configure AWSConfiguration on app startup.
I want to configure cognito details on login page, but awsconfiguration,json file not able to update because of raw inside file not updated,.
Also app working only when awsconfiguration,json inside raw folder.

Please give me suggestion for AWSconfigation before login process.

[2020-08-19 23:37] dachalco commented on #31
Hi @alpesh-einfochips

Just to clarify, you're trying to modify (`PoolID`, `AppClientId`, etc.) during app run-time, instead of compiling them in via `awsconfiguration.json`?

AuthenticatorActivity is responsible for cognito authentication and sign in. It's triggered via _Intent_ in `DeviceScanFragment::onCreateView`. However it's `AuthenticatorActivity`'s dependencies such as `AWSMobileClient (co

[2020-08-24 10:08] ignasbol opened #32 "Get status in SaveNetworkResp"
When building a custom app using the SDK, I've noticed that the `SaveNetworkResp` does not contain a `getStatus()` method the same way as the `ListNetworkResp` does. It is possible to use `contains()` method on the `response.toString()` to capture the status required:

[code]

However it feels more like a workaround, rather than an optimal solution. After investigating, I've noticed that the `Save

[2020-08-24 10:10] ignasbol commented on #32
PR: #33

[2020-08-25 06:13] pentair-mywater-residentail commented on #15
@ravibhagavandas :  Espressif suggested a rebase of the v3.1 ESP-IDF code base. This cannot be done as we are using AFR.
We tried cherry picking the fix from the Espressif branch but there is a library (libbtdm_app.a) which is giving build errors.
The build errors are as below. Could you suggest solution to resolve this.

[code]

[2020-08-25 06:28] pentair-mywater-residentail commented on #30
@ravibhagavandas : Espressif suggested a rebase of the v3.1 ESP-IDF code base. This cannot be done as we are using AFR.
We tried cherry picking the fix from the Espressif branch but there is a library (libbtdm_app.a) which is giving build errors.
The build errors are as below. Could you suggest solution to resolve this.

/code/lib/third_party/mcu_vendor/espressif/esp-idf/components/bt/lib/libbtdm_

[2020-08-25 12:11] alpesh-einfochips commented on #31
Download code "aws-sdk-android-release_v2.13.5" and change inside class AWSConfiguration for awsconfiguration.json replace with awsconfiguration1.json using method getConfigResourceId.
After changes done, compile code and replace aar library file in android app libs folder and bind in build.gradle but still use awsconfiguration.json from raw folder not able to use awsconfiguration1.json.

Please g

[2020-08-25 19:36] ravibhagavandas commented on #30
Hi,

I am trying to reproduce the issue on Amazon FreeRTOS with  ESP IDF 3.1.

Can you provide information on the baseline AFR commit ID which you are based on ? Release 1.4.7 as mentioned above does not contain the BLE library. Is the esp-idf in the branch ble-beta of Amazon FreeRTOS ( https://github.com/aws/amazon-freertos/tree/feature/ble-beta/lib/third_party/mcu_vendor/espressif/esp-idf ) a go

[2020-08-26 11:20] pentair-mywater-residentail commented on #30
@ravibhagavandas : We received a Quick fix option from Espressif. A cherry picked v3.1 BT controller's library from espressif was used to build as part of AFR firmware. Testing was done with this firmware but the behavior is observed to be same as earlier.

[2020-08-26 18:56] ravibhagavandas commented on #31
@alpesh-einfochips

Android sdk release v2.13.6 onwards supports configuration via an in-memory JSON object as mentioned  in the release notes [here](https://github.com/aws-amplify/aws-sdk-android/releases/tag/release_v2.13.6). To update the mobile app to android SDK version 2.13.6, update the dependencies in app's [build.gradle](https://github.com/aws/amazon-freertos-ble-android-sdk/blob/master/a

[2020-08-27 13:51] alpesh-einfochips commented on #31
Thanks for reply,

Same way IOS app I want to get AWSConfiguration cognito settings from outside instead of  json file.

Please help for IOS side also.

[2020-08-28 01:20] ravibhagavandas commented on #31
Hi,

I think api is supported from aws ios sdk 2.11.0 version onwards and  this documentation provides more details:

https://github.com/aws-amplify/docs/blob/master/docs/sdk/configuration/fragments/ios/setup-options.md#configure-using-an-in-memory-object

[2020-09-01 18:27] ravibhagavandas commented on #32
Thanks for bringing this into our attention and fixing the issue. I have merged the PR to master.

[2020-09-01 18:27] #32 closed

[2020-09-03 13:53] alpesh-einfochips commented on #31
**Android App**

After adding below code **Sign In** process working fine, but **Create New Account**  button click on app crash.

**Implemented Code :**

**Updated  dependencies in app's build.gradle:**
implementation('com.amazonaws:aws-android-sdk-mobile-client:2.13.6')
implementation('com.amazonaws:aws-android-sdk-auth-userpools:2.13.6')
implementation('com.amazonaws:aws-android-sdk-auth-ui:2.1

[2020-09-16 11:27] alpesh-einfochips commented on #31
**Android App:**
Please help me for issue of  **Create New Account** button click on  app crash after below changes:

 AWSConfiguration config = new AWSConfiguration(jsonObj );
 AWSMobileClient.getInstance().initialize(getApplicationContext(), config, new Callback() {}

Please look above conversion for better understanding.
Please reply for this issue.

[2020-09-17 17:03] dachalco commented on #31
Hello @alpesh-einfochips

Are you able to provide any error logs reported in Android Studio when the app crashes?

[2020-09-18 08:08] alpesh-einfochips commented on #31
**For Android :**
I know reason for crash of Create New Account, its take awsconfiguration.json file from raw folder inside app.
Means Create New account take cognito details from awsconfiguration,json.

I want to take configuration details from outside like we did signin process.

**For Signin Process we use below code:**
JSONObject jsonObj = new JSONObject();
.....
/** Populate JSON object. **/

[2020-10-30 07:27] lylezhu2012 opened #34 "Blank screen for a while when opening the Freertos demo android app if the account has been logged in"
**Describe the bug**
Blank screen for a while when opening the Freertos demo android app if the account has been logged in

**Build info**
What is the branch and commit on the device side?
b3b9cb41f5572f6671f218519ddfa78a7b2b2d50
What is the branch and tag the SDK side?
244947924d19bc297db30dac1b12b1dd44157522
Does pulling the latest code help resolve the issue?
No
**System info**
What is the Andr

[2020-11-01 22:22] ravibhagavandas commented on #34
Thanks for reporting this. We will try to reproduce this issue and get back with the findings.

[2020-11-07 20:55] ravibhagavandas commented on #34
Hi,

Are you using cognito login feature in the app ?
The only way I could reproduce this was if I turn on cognito, but give an invalid credentials in app's [awsConfiguration.json](https://github.com/aws/amazon-freertos-ble-android-sdk/blob/master/app/src/main/res/raw/awsconfiguration.json).

If using cognito login, please ensure user pool and identity pool are created as mentioned in **Prerequsit

[2020-11-09 05:54] lylezhu2012 commented on #34
Yes, I am using cognito login feature in the app. Maybe I didn’t make it clear, let me clearit.

The following is my steps,
1. Config the account according to user guide as you mentioned. Set awsConfiguration.json and DemoConstants.java. Build the project. And then install the APK.
2. Open the app and log in. After logging in, the app has a blank screen for a period of time (the time is not fixed,

[2020-11-19 00:46] ravibhagavandas commented on #34
Setting `mqttOn` to `false` will disable the  cognito sign-in procedure. Without cognito, you can't connect the mobile app to AWS IoT.

So when you set this to `false` its faster, this means, that your cognito signin activity is taking time ? Did you verify from logs that cognito signin was successful?

I did a test with my android app, and the "Scan" Fragment was launched under two seconds, every

[2020-11-19 05:18] lylezhu2012 commented on #34
Hi @ravibhagavandas ,

Thanks for your reply. I also tested the time consumption of cognito. From the opening tick of application to the tick of "SCAN FOR BLE DEVICES" button showing, the time consumption is ~8s. My log is,

`2020-11-19 13:09:05.827 5363-5363/? I/n.freertos.dem: Late-enabling -Xcheck:jni
2020-11-19 13:09:05.873 5363-5363/? I/n.freertos.dem: Reinit property: dalvik.vm.checkjni= fal

[2020-11-24 22:04] ravibhagavandas commented on #34
@lylezhu2012
Thanks for the suggestion of adding a wait message to the screen as it will improve user experience in these scenarios. We will look into adding this to our demo app.

As with your issue, it seems bulk of the delay (close to 5 seconds ) is from cognito initialized to being authenticated and IoT policy being attached to the cognito authenticated identity.

[code]
Whereas for my test it

[2020-12-10 12:03] lylezhu2012 commented on #34
My location is China. And I am using ap-south-1.

[2020-12-11 12:02] ChristyBrouwer opened #38 "Network connection closes on any incoming messages from Cloud"
**Describe the bug**
Any time a message is published via AWS IoT on a topic which the system is subscribed to, an error occurs and the connection gets closed. The system's code works entirely in combination with the IOS SDK, it purely gives the error when connected to the cloud via the Android SDK.

**Build info**
ESP runs the master freertos branch, commit [12d7ad7](https://github.com/aws/amazon-

[2020-12-11 17:06] lundinc2 commented on #38
Hi @ChristyBrouwer,

Thank you for this report, we will investigate this.

Thanks,

Carl

[2020-12-15 19:46] rwainstei opened #39 "Does not build Task 'wrapper' not found in project ':app'."
getting this
Task 'wrapper' not found in project ':app'.
Any idea ?

[2020-12-15 22:04] ravibhagavandas commented on #34
@lylezhu2012 Looking more closely at logs it seems the time is spent for refreshing access tokens and getting credentials (after closing the app). Cross region calls can incur latencies. Could you try switching over to a region closest, I see Cognito is available in China regions as per doc [here](https://aws.amazon.com/blogs/enterprise-strategy/getting-started-with-aws-services-in-aws-china-beiji

[2020-12-16 23:13] dachalco commented on #38
Hi @ChristyBrouwer

Thanks for bringing this to our attention. It highlighted a legitimate bug which I fixed in the above PR.
Can you please pull these updates then see if your issue persists?

[2020-12-21 12:15] ChristyBrouwer commented on #38
Hi @dachalco

Thank you for working out a possible solution! I've tried pulling the updates to see if the issue persists but I've ran into a new one regarding freertos so I can't test the SDK yet. I made an issue for it on the freertos github, [#2901](https://github.com/aws/amazon-freertos/issues/2901). I will let you know if the original problem is fixed when that is solved!

[2020-12-22 00:22] ravibhagavandas commented on #39
Could you provide more information on the error, along with error logs.

 What version and the commit ID of the SDK are you using?

[2021-01-07 19:16] cwalstad opened #40 "onBleConnectionStatusChanged callback is not called in BLE_CONNECTED case"
**Describe the bug**
The SDK allows clients to register a callback for BLE connection status changes.  The callback is not called in the BLE_CONNECTED case.

I believe this behavior was broken in this change: https://github.com/aws/amazon-freertos-ble-android-sdk/commit/02e3b23bf614fa4bb1cdb1e7af579e56cb10fb2f

Specifically this line was removed: https://github.com/aws/amazon-freertos-ble-android-

[2021-01-11 08:02] ravibhagavandas commented on #40
Hi,

Thanks for bringing this up.
Here is the PR which fixes the issue by adding back the callback #41. Please note that the applications still needs to wait for `BLE_INITIALIZED` state before sending/receiving data. `BLE_CONNECTED` is an intermediate state, is still useful for debugging purposes.

The PR also cleans up duplicate code in `onConnectionStateChangeCallback()`

[2021-01-11 20:58] alfred2g commented on #39
Closing issue, please @rwainstei reopen if you have more questions

[2021-01-11 20:58] #39 closed

[2021-01-12 22:04] ravibhagavandas commented on #34
I am closing this issue, if you have new questions please feel free to open the issue.

[2021-01-12 22:04] #34 closed

[2021-01-19 23:30] pvyawaha commented on #40
Hello,

Does the above fix resolves your issue?

[2021-01-25 17:40] ravibhagavandas commented on #40
Closing this issue. Please feel to repoen if you have more questions.

[2021-01-25 17:40] #40 closed

[2021-04-21 01:38] haziqharuka opened #42 "cannot open wifi provisioning"
hye, im new to this and i have face problem where i open WiFi provisioning.
I already connect the esp32 with my device but i cannot do the WiFi provisioning. when i try to open WiFi provisioning it just blank page. Can someone help me.

[2021-04-24 00:27] paulbartell commented on #42
@haziqharuka Could you give us a little more information about what you have tried and any debugging logs?

[2021-04-30 22:26] sukhmanm commented on #42
Hi @haziqharuka, were you able to make any progress on this?

[2021-06-08 23:01] yourslab commented on #42
Since there has been no update on this issue for a while, I will be closing it but please feel free to open another issue if you are still facing problems.

[2021-06-08 23:01] #42 closed

[2021-06-23 03:46] lylezhu2014 opened #43 "Require a button to refresh the wifi AP list"
**Describe the bug**
There is an issue that no all surrounding wifi APs are listed in network setting UI. Require a button to request the wifi provisioning example to rescan surrounding WIFI APs.
Please refer to the following picture,
[
![WeChat Image_20210623114436](https://user-images.githubusercontent.com/7939450/123032404-77413d80-d418-11eb-8f37-22b932ad5a9d.jpg)
](url)

[2021-06-24 22:12] dan4thewin commented on #43
Thanks, @lylezhu2014 .  I've mentioned this to one of my peers, and you may expect him to respond.  We ask for your patience, as there are many demands on his time right now.

[2021-06-29 04:56] sherindeena opened #44 "ESP32 wifi provisioning"
I am using ESP32 DevkitC as IoT thing. Also, I am using the app from amazon-freertos-ble-android-sdk/app at master · aws/amazon-freertos-ble-android-sdk (github.com). My intention is to do WiFi provisioning of ESP32 using BLE.
The android app lists the ESP32 device. And it prompts for bluetooth pairing as well. But after that  I am not able to see the next options to do network config. I am using

[2021-07-02 04:54] ravibhagavandas commented on #43
Hi @lylezhu2014

Thanks for reporting this. I acknowledge that this is a useful feature in the demo. We will add this into our queue for prioritization. Meanwhile to unblock yourself you can try adding an additional button to WiFi provisioning fragment [here](https://github.com/aws/amazon-freertos-ble-android-sdk/blob/master/app/src/main/java/software/amazon/freertos/demo/WifiProvisionFragment.jav

[2021-07-11 20:41] ravibhagavandas commented on #44
Hi @sherindeena

Did you enable WiFi provisioning demo on ESP32 device by setting the flag
`#define IOT_BLE_ENABLE_WIFI_PROVISIONING   ( 1 )` in iot_ble_config.h as described here: https://docs.aws.amazon.com/freertos/latest/userguide/ble-demo.html#ble-demo-wifi

Also are you from the error logs in android logcat it seems it fails to attach policy for cognito correctly. Did you make sure to create

[2021-07-29 23:06] ravibhagavandas commented on #44
Hi @sherindeena

Is your problem resolved?  Can this issue be closed?

[2021-07-31 17:35] ravibhagavandas commented on #44
I will close this issue due to inactivity. Please open a new issue if you have any questions.

[2021-07-31 17:35] #44 closed

[2021-12-09 05:42] #7 closed

[2021-12-09 05:44] abhidixi11 commented on #5
I'm closing this issue, please feel free to open a new one.

[2021-12-09 05:44] #5 closed

[2021-12-09 05:45] abhidixi11 commented on #9
I'm closing this issue, please feel free to open a new one.

[2021-12-09 05:45] #9 closed

[2021-12-09 05:47] abhidixi11 commented on #15
I'm closing this issue, please feel free to open a new one.

[2021-12-09 05:47] #15 closed

[2021-12-09 05:48] abhidixi11 commented on #17
I'm closing this issue, please feel free to open a new one.

[2021-12-09 05:48] #17 closed

[2021-12-09 05:53] abhidixi11 commented on #19
I'm closing this issue, please feel free to open a new one.

[2021-12-09 05:53] #19 closed

[2021-12-09 05:53] abhidixi11 commented on #29
I'm closing this issue, please feel free to open a new one.

[2021-12-09 05:53] #29 closed

[2021-12-09 05:54] abhidixi11 commented on #30
I'm closing this issue, please feel free to open a new one.

[2021-12-09 05:54] #30 closed

[2021-12-09 05:55] abhidixi11 commented on #31
I'm closing this issue, please feel free to open a new one.

[2021-12-09 05:55] #31 closed

[2021-12-09 05:56] #38 closed

[2021-12-14 06:53] ameetghosh opened #45 "Not able to fetch Wifi List after second time ble connection"
**Describe the bug**
There is an issue when we do ble connection second time the wifi list is not getting fetched.

![image](https://user-images.githubusercontent.com/31923982/146029342-2d294298-15fd-49e3-9272-9d35e28ca0b7.png)

Error
More is disabled and when trying to get the list of networks it getting failed

**Build info**
What is the branch and tag the SDK side?
master

**System info**
What

[2021-12-15 03:09] ravibhagavandas commented on #45
Hello,

Looking at the issue it seems the SDK is failing to read device version version characteristic as noted in the error below:

[code]

status = 12 indicates `GATT_INSUF_KEY_SIZE` which probably is called due to invalid pairing.

Could you share the device side logs for the same issue ? What device is being used as MCU ? Which Amazon FreeRTOS version is running on the device?

Also could you

[2021-12-16 17:08] vineet2888 commented on #45
@ravibhagavandas  Thanks for replying.

Please find the response to the questions below:

**Q 1. Could you share the device side logs for the same issue ?**
On the device side we are getting ble disconnect event only.

**Q 2. What device is being used as MCU ?**
We are using ESP32.

**Q3. Which Amazon FreeRTOS version is running on the device?**
FreeRTOS version : 202012

**Q4. What type of connec

[2021-12-27 08:16] vineet2888 commented on #45
Hi @ravibhagavandas

I have observed this issue on amazon freertos release 202107. I am using wifi provisioning demo in the mentioned freertos release and freertos demo. When i am trying to reprovision the device , i am not able to get wifi scan list.
[WifiProvisioningDebugLog_AFR_Version 202107.txt](https://github.com/aws/amazon-freertos-ble-android-sdk/files/7779161/WifiProvisioningDe

https://u

[2022-01-07 17:58] ravibhagavandas commented on #45
For 202107 version, WiFi provisioning demo, stops the WiFi provisioning task and the loop exits when a WiFi network is provisioned successfully. Related code here:
https://github.com/aws/amazon-freertos/blob/202107.00/demos/wifi_provisioning/aws_wifi_connect_task.c#L111
You can choose to customize the demo for your use case.

[2022-01-07 18:05] ravibhagavandas commented on #45
For the original issue in 202012 version, we identified this to be a bug in vendors sdk staged for that version. This could be fixed by patching Amazon FreeRTOS 202012 version as follows:
1. Create a file `key_size.patch` with contents below:
[code]
2. From home folder of amazon freertos, Copy patch to vendors folder: `cp key_size.patch vendors/espressif/esp-idf/components/nimble/nimble`
3. Apply

[2022-01-07 18:06] #45 closed

[2022-11-01 13:46] m1dnight commented on #39
The instructions on building the android app are unclear if you are not experienced with mobile development. The readme instructs to execute `./gradlew installDebug`, but that is not defined in the gradle.build file.

I managed to get the gradle wrapper installed, but I don't know which Gradle version is required, or which JDK is necessary.